html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent; /* deja ver la imagen */
}

.card {
  width: 100%;
  max-width: 320px;
  background: #fff;
  border-radius: 8px;
  padding: 28px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  position: relative;
  z-index: 1;
}