<div class="contenedor">
  <h2> BlitzQuiz </h2>

  <!-- aparece siempre  -->
  <p><strong> Conectado a Firebase</strong></p>

  <div class="user-info" *ngIf="user$ | async as user">
    <p>Conectado como: <strong>{{ user.displayName || user.email }}</strong></p>
    <button (click)="logout()">Cerrar sesión</button>
  </div>

  <!-- *ngIf con async espera a que Firebase envie los datos.
     Cuando llegan, los guarda en la variable 'preguntas'.
     Si aún no han llegado, muestra la plantilla 'cargando'. -->
  <div *ngIf="preguntas$ | async as preguntas; else cargando">
    
    <p><strong>Total preguntas:</strong> {{ preguntas.length }}</p>


    <!-- *ngFor="let p of preguntas"  recorre array de preguntas -->
    <app-pregunta
      *ngFor="let p of preguntas"  
      [pregunta]="p">
    </app-pregunta>

    <!-- Si hay conexión pero 0 preguntas -->
    <p *ngIf="preguntas.length === 0" class="vacio">
       Colección vacía 
    </p>
  </div>

  <!--  -->
  <ng-template #cargando>
    <p class="cargando"> Cargando preguntas....</p>
  </ng-template>
</div>