<div class="fin-quiz">

  <!-- RESULTADOS -->
  <div class="resultados">
    <h1>¡FIN DEL QUIZ!</h1>

    <h2 *ngIf="puntuacion.puntosTotales >= 0">
      ¡Enhorabuena!<br>
      Sacaste <strong>{{ puntosAnimados }}</strong> puntos
    </h2>

    <h2 *ngIf="puntuacion.puntosTotales < 0">
      ¡Ups!<br>
      Sacaste <strong>{{ puntosAnimados }}</strong> puntos...
    </h2>


    <p *ngIf="seleccion.modo === 'rapidas'">
      <strong>PREGUNTAS BLITZ</strong><br>
      {{ puntuacion.correctas }} de 20 aciertos<br>
    </p>

    <p *ngIf="seleccion.modo !== 'rapidas'">
      {{ puntuacion.correctas }} de {{ puntuacion.totalPreguntas }} aciertos<br>
      Categoría: {{ seleccion.categoria || 'Aleatoria' }}<br>
      Dificultad: {{ seleccion.dificultad || 'Aleatoria' }}
    </p>
    <p class="frase-motivadora">
      {{ frase }}
    </p>
  </div>

  <button (click)="irInicio()">Ir al menu principal</button>
  <button (click)="jugarOtraVez()">Jugar otra vez</button>

  <!-- RANKING ABAJO -->
  <div class="ranking-final">

    <h3 class="titulo-ranking-final">
      ¡Tu posición esta semana!
    </h3>

    <p class="puesto-jugador" *ngIf="puestoJugador">
      Estás en el <strong>#{{ puestoJugador }}</strong> puesto
    </p>

    <p class="puesto-jugador" *ngIf="!puestoJugador">
      Aún no apareces en el ranking… ¡pero puedes lograrlo! 💪
    </p>

    <app-ranking></app-ranking>

  </div>


</div>