<div class="alias-container">

  <h1>Elige tu alias</h1>

  <!-- Ver de forma clara la mascota seleccionada -->
  <div class="icon-wrapper">
    <div class="icon-circle">
      <img [src]="mascotaSeleccionada" alt="Mascota seleccionada" />
    </div>
  </div>

  <!-- Selección mascotas -->
  <h3 class="mascota-title">Elige tu mascota:</h3>
  <br>
  <div class="mascotas-grid">
    <div
      class="mascota"
      *ngFor="let m of mascotas"
      [class.activa]="mascotaSeleccionada === m.src"
      (click)="mascotaSeleccionada = m.src">
      <img [src]="m.src" [alt]="m.nombre" />
    </div>
  </div>

  <p class="sub-text">Este será tu nombre público.</p>

  <input
    type="text"
    [(ngModel)]="alias"
    placeholder="Tu alias"
    maxlength="20"/>

  <div class="botones-acciones">
    <button class="btn-guardar" (click)="guardar()">
      Guardar alias
    </button>
  </div>
</div>