<h1>¿Preparado para jugar?</h1>
<h2 class="subtitle">¡Escoge tu modo!</h2>

<div class="fila-superior">
  <div class="modo-card" (click)="elegirClasico()">
    <div class="inner">
      <h3 class="modo-titulo">Modo Clásico</h3>
      <p class="modo-desc">Tú mandas: eliges categoría y dificultad.<br>20 segundos por pregunta para pensar con calma... o para googlear disimuladamente </p>
    </div>
  </div>

  <div class="modo-card" (click)="elegirAleatorio()">
    <div class="inner">
      <h3 class="modo-titulo">Modo Aleatorio</h3>
      <p class="modo-desc">¡La app decide por ti! Categoría, dificultad y tiempo random.<br>Ideal si te gusta vivir peligrosamente... pero sin pasarse </p>
    </div>
  </div>
</div>

<div class="modo-card blitz" (click)="elegirRapidas()">
  <div class="inner">
    <h3 class="modo-titulo">MODO BLITZ</h3>
    <p class="modo-desc">Poco tiempo por pregunta y todo random total.<br>Aciertas como un rayo → puntazos.<br>Fallas o te quedas en blanco → adiós puntos <br>¿Eres valiente o solo miras?</p>
  </div>
</div>


<div class="modo-card crear" (click)="crearCuestionario()">
  <div class="inner">
    <h3 class="modo-titulo">CREAR CUESTIONARIO</h3>
    <p class="modo-desc">
      Diseña tus propias preguntas, edítalas cuando quieras
      y guarda tus cuestionarios personalizados.
    </p>
  </div>
</div>