<div class="contenedor-principal">
  <header>
    <h1>¡EL MEJOR QUIZ DEL MUNDO!</h1>
    <h2>Elige tu modo de juego:</h2>
  </header>

  <main class="modos-container">
    <!-- MODO CLÁSICO -->
    <button class="modo-btn clasico" (click)="elegirModo('clasico')">
      <div class="icono">🎯</div>
      <h2>MODO CLÁSICO</h2>
      <p>Elige categoría y dificultad<br>tú mandas</p>
    </button>

    <!-- MODO ALEATORIO -->
    <button class="modo-btn aleatorio" (click)="elegirModo('aleatorio')">
      <div class="icono">🎲</div>
      <h2>MODO ALEATORIO</h2>
      <p>¡Sorpresa total!<br>El juego elige por ti</p>
    </button>
  </main>

  
</div>