<div class="layout">
  <!-- Barra superior -->
  <header class="top-bar">
    <div class="logo">BlitzQuiz</div>

    <!-- PERFIL USUARIO -->
    <div class="perfil-wrapper"*ngIf="aliasData$ | async as data"(click)="$event.stopPropagation()">
      <!-- Trigger: la parte visible siempre -->
      <div class="perfil-trigger" (click)="toggleMenu()">
        <img *ngIf="data.mascota" [src]="data.mascota" class="avatar"/>
        <span class="username">{{ data.alias || 'Invitado' }}</span>
        <span class="arrow">{{ menuAbierto ? '▲' : '▼' }}</span>
      </div>

      <!-- Menú desplegable -->
      <div class="perfil-menu" *ngIf="menuAbierto">
        <img *ngIf="data.mascota" [src]="data.mascota" class="avatar-grande" />
        <div class="alias-grande">{{ data.alias }}</div>

        <!-- NUEVO: LOGROS -->
        <button class="btn-menu" (click)="irALogros()">Logros</button>

        <button class="btn-menu" (click)="cambiarAlias()">Cambiar alias</button>
        <button class="btn-menu salir" (click)="salir()">Cerrar sesión</button>
      </div>
    </div>
  </header>

  <!-- Zona principal -->
  <main class="contenido">
    <!-- PANTALLA DE JUEGO -->
    <section class="pantalla-juego">
      <router-outlet></router-outlet>
    </section>

    <!-- RANKING -->
    <aside class="ranking-panel">
      <app-ranking></app-ranking>
    </aside>
  </main>
</div>
