
<!--Tarjeta principal de la pregunta en modo BLITZ-->
<div class="card-pregunta">


  <!-- Título fijo que indica el modo de juego -->
  <h2 class="modo">MODO BLITZ</h2>

  <!-- Texto de la pregunta -->
  <h3 class="pregunta-text">
    {{ pregunta?.pregunta || 'Cargando pregunta rapidísima...' }}
  </h3>

  <!-- Información de la pregunta actual -->
  <p class="meta">
    Pregunta {{ numeroPregunta }} de 20
  </p>

  <div class="barra-progreso">
    <div class="barra-relleno" [style.width.%]="(numeroPregunta / 20) * 100">
    </div>
  </div>

  <div class="timer" [class.danger]="tiempoRestante <= 3">
    {{ tiempoRestante }}
  </div>

  <div class="puntos" *ngIf="mostrarPuntos">
    {{ puntosGanados >= 0 ? '+' : '' }}{{ puntosGanados }}
  </div>

  <!--Opciones de respuesta-->
  <div class="opciones-grid">
    <button *ngFor="let opcion of opcionesMezcladas" (click)="responder(opcion)" class="opcion-btn"
      [class.correcta]="respuestaSeleccionada && opcion === pregunta?.correcta"
      [class.incorrecta]="respuestaSeleccionada === opcion && opcion !== pregunta?.correcta"
      [disabled]="respuestaSeleccionada !== null || tiempoRestante <= 0">
      {{ opcion }}
    </button>
  </div>

  <!-- Contador de aciertos e incorrectas -->
  <div class="bloques-contador">
    <div class="bloque verde">
      <div class="numero">{{ puntuacion.correctas }}</div>
      <div class="texto">acertadas</div>
    </div>

    <div class="bloque rojo">
      <div class="numero">{{ puntuacion.incorrectas }}</div>
      <div class="texto">incorrectas</div>
    </div>
  </div>

</div>