/* quitar bordes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #e6edf5; 
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


* {
  font-family: 'Roboto', sans-serif !important;
}