.titulo-ranking {
  font-size: 20px;
  font-weight: 700;
  color: #4b2dbd;
  margin-bottom: 14px;
  text-align: center;
  display: block;  
}

.lista-ranking {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-ranking li {
  padding: 10px 12px;
  border-radius: 14px;
  margin-bottom: 10px;
  background: #f5f3ff;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #4b2dbd;
}


ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol li {
  font-size: 15px;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

ol li:first-child {
  font-weight: bold;
  color: #e0b000; /* medalla oro */
}

ol li:nth-child(2) {
  font-weight: bold;
  color: #aaa; /* medalla plata */
}

ol li:nth-child(3) {
  font-weight: bold;
  color: #cd7f32; /* medalla bronce */
}
